<section id="counter" style="background: url('@Url.Content("~/public/media/site/counter.jpg")') center center no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-tag"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">12090</h3>
                        <p>@fc.Resources.Resource.homeCounterRegular</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-map"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">350</h3>
                        <p>@fc.Resources.Resource.homeCounterLocations</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
                    <div class="icon">
                        <span>
                            <i class="lnr lnr-users"></i>
                        </span>
                    </div>
                    <div class="desc">
                        <h3 class="counter">23453</h3>
                        <p>@fc.Resources.Resource.homeCounterMembers</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
