
<section class="location">
    <div class="container">
        <div class="row localtion-list">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
                <h3 class="title-2"><i class="fa fa-envelope"></i> Subscribe for updates</h3>
                <form id="subscribe" action="">
                    <p>Join our 10,000+ subscribers and get access to the latest templates, freebies, announcements and resources!</p>
                    <div class="subscribe">
                        <input class="form-control" name="EMAIL" placeholder="Your email here" required="" type="email">
                        <button class="btn btn-common" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1s">                
                <div class="post-promo text-center" style="padding:40px;">
                    <h2> Do you get anything for sell ? </h2>
                    <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
                    <a href="#" class="btn btn-post btn-danger">Post is Free </a>
                </div>
            </div>
        </div>
    </div>
</section>