
@{
    ViewBag.Title = "Policy";
}
<!-- Page Header Start -->
<div class="page-header" style="background: url('@Url.Content("~/public/media/site/privacy.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@fc.Resources.Resources.pageCookie</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Start Content -->
<div id="content">  
    <section class="container text-justify wow fadeInDownQuick" data-wow-delay="0.3s">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb15"><strong>Privacy - Cookie Policy</strong></h2>

                <ol>
                    <li>La presente Privacy Policy, scaricabile&nbsp; dall&rsquo;utente per la conservazione, &egrave; regolata dalla Legge Italiana, nello specifico dal D.Lgs 196/2003 e successive modifiche, in materia di trattamento dei dati personali.</li>
                </ol>

                <p class="lead">Si invitano gli utenti a visitare periodicamente la presente sezione, al fine di essere sempre aggiornati su eventuali modifiche normative.</p>

                <p>Ogni novella normativa in materia verr&agrave; segnalata con apposito banner in Home Page.</p>

                <ol>
                    <li>I dati personali sono raccolti con la finalit&agrave; di registrare l&rsquo;utente ed attivare nei suoi confronti le procedure per l&rsquo;uso del presente sito nonch&eacute; le relative comunicazioni; tali dati sono trattati elettronicamente nel rispetto delle leggi vigenti e potranno essere esibiti soltanto su richiesta dell&rsquo;autorit&agrave; giudiziaria ovvero di altre autorit&agrave; all&rsquo;uopo per legge autorizzate.</li>
                    <li>I dati personali saranno comunicati unicamente a soggetti delegati all&rsquo;espletamento delle attivit&agrave; necessarie per l&rsquo;esecuzione delle funzionalit&agrave; del sito e diffusi esclusivamente nell&rsquo;ambito di tale finalit&agrave;.</li>
                    <li>In relazione alle informazioni sensibili rilasciate dall&rsquo;utente per l&rsquo;esecuzione di transazioni con moneta elettronica (carta di credito/debito), la responsabilit&agrave; per il trattamento delle suddette informazioni &egrave; di competenza dell&rsquo;istituto bancario preposto.</li>
                </ol>

                <p class="lead">Si garantisce, in ogni caso, l&rsquo;uso di procedure e protocolli che non permettano a terzi di avere accesso a qualsivoglia delle suindicate informazioni.</p>

                <p>La stessa <strong>AZIENDA</strong> non avr&agrave; accesso alcuno alle predette informazioni.</p>

                <ol>
                    <li>L&rsquo;interessato gode dei diritti di cui all&rsquo;art. 13 del d.p.r. n. 196/2003 e successive modifiche ed integrazioni, e cio&egrave;: di chiedere conferma dell&rsquo;esistenza presso la sede di &ldquo;<strong>AZIENDA</strong>&rdquo; dei propri dati personali; di conoscere la loro origine, la logica e le finalit&agrave; del loro trattamento; di ottenerne l&rsquo;aggiornamento, la rettifica e la integrazione; di chiederne la cancellazione, la trasformazione in forma anonima o il blocco in caso di trattamento illecito; di opporsi al loro trattamento per motivi legittimi o nel caso di utilizzo dei dati per invio di materiale pubblicitario, informazioni commerciali, ricerche di mercato, di vendita diretta e di comunicazione commerciale interattiva.</li>
                    <li>I diritti derivanti dalla normativa sulla privacy e gli obblighi di informativa da essa nascenti a carico della &ldquo;<strong>AZIENDA</strong>&rdquo; sono esaminati on line dall&rsquo;utente. La navigazione e l&rsquo;uso del sito implicano totale conoscenza degli stessi. L&rsquo;utente, utilizzando il sito, dichiara di essere stato informato di tutti i suoi diritti ai sensi della normativa sopra citata.</li>
                    <li>Titolare e responsabile della raccolta e del trattamento dei dati personali &egrave; &ldquo;<strong>AZIENDA</strong>&rdquo; ed&nbsp; informa gli utenti che sussiste un particolare rischio di violazione della sicurezza della rete, rischio che pu&ograve; anche porsi, per la particolare natura del mezzo utilizzato, al di fuori dell&rsquo;ambito di applicazione delle misure di sicurezza minime che essa &egrave; tenuta ad adottare ai sensi della normativa vigente. Pertanto, si consiglia all&rsquo;utente di assicurarsi che il proprio strumento di navigazione goda di tutti i requisiti &nbsp;necessari a garantire la sicurezza della trasmissione dei dati in rete.</li>
                    <li>
                        In caso di controversie relative alla interpretazione del presente documento, competente sar&agrave;, ai sensi del D.Lgs 206/2005, il Foro del consumatore.<br />
                        &nbsp;
                    </li>
                </ol>

                <hr />
                <h2 style="margin-bottom: 26.25pt;"><strong>L&#39;uso dei Cookies sul nostro sito web</strong></h2>

                <p><strong>Cos&rsquo;&egrave; un cookie e a cosa serve?</strong></p>

                <ul>
                    <li>Un cookie &egrave; un file di dimensioni ridotte che un sito invia al browser e salva sul computer dell&rsquo;utente quando visita un sito internet come <a href="http://www.autosalonepugliese.it">autosalonepugliese.it</a></li>
                    <li>I cookie vengono utilizzati per far funzionare il sito o per migliorare le prestazioni, ma anche per fornire informazioni ai proprietari del sito.</li>
                </ul>

                <p class="lead"><strong>Quali e quanti tipi di cookie un sito pu&ograve; utilizzare e a quale scopo?</strong></p>

                <ol>
                    <li>
                        <strong>Cookie di navigazione</strong><br />
                        <br />
                        I cookie di navigazione permettono al sito di funzionare correttamente e permettono di visualizzare i contenuti nella lingua dell&rsquo;utente e per il suo mercato fin dal primo accesso. Sono in grado di riconoscere da quale Paese l&rsquo;utente si sta connettendo e fanno in modo che, ogni volta che visiter&agrave; il sito, sar&agrave; automaticamente indirizzato alla versione del sito per il suo paese. Questo tipo di cookie permette di cercare un account, effettuare un login e gestire le informazioni rilasciate dall&rsquo;utente. Se l&rsquo;utente &egrave; gi&agrave; registrato, grazie ai cookie il sito potr&agrave; riconoscerlo come tale quando acceder&agrave; ai servizi offerti agli utenti registrati. Questi cookie sono utili al buon funzionamento del sito.<br />
                        &nbsp;
                    </li>
                    <li>
                        <strong>Cookie funzionali</strong><br />
                        <br />
                        I cookie funzionali permettono al sito di riconoscere l&rsquo;utente in base alla sua richiesta, ogni volta che accede al sito, cliccando ad esempio sul tasto &ldquo;riconoscimi ogni volta&rdquo; &ndash; se presente -, in modo da non dover inserire nuovamente i suoi dati tutte le volte che visita il sito. Questi cookie non sono necessari al funzionamento del sito ma ne migliorano la navigazione e la fruizione.<br />
                        &nbsp;
                    </li>
                    <li>
                        <strong>Cookie analitici</strong><br />
                        <br />
                        I cookie analitici sono utilizzati per esempio da Google Analytics per elaborare analisi statistiche sulle modalit&agrave; di navigazione degli utenti sul sito, attraverso i computer o le applicazioni mobile, sul numero di pagine visitate o il numero di click effettuati su una pagina durante la navigazione di un sito. &ldquo;<strong>AZIENDA</strong>rdquo; tratta i risultati di queste analisi in forma anonima ed esclusivamente per finalit&agrave; analitiche solo se il fornitore dei servizi utilizza i cookie in connessione al browser installato sul suo computer su altri dispositivi utilizzati per navigare sul nostro sito.<br />
                        &nbsp;
                    </li>
                    <li>
                        <strong>Cookie di terze parti per marketing/retargeting</strong><br />
                        <br />
                        Questi cookie sono utilizzati da societ&agrave; di fiducia che permettono all&rsquo;utente di visualizzare banner pubblicitari su altri siti affiliati, mostrandogli gli ultimi prodotti guardati sul sito, specie se si tratta di e-commerce. Mentre l&rsquo;utente naviga all&rsquo;interno del sito, questi cookie sono utilizzati per mostrargli i prodotti che potrebbero interessargli o simili a quelli che ha guardato in precedenza, basandosi sulla cronologia di navigazione. L&rsquo;uso di questi cookie normalmente non implica il trattamento di dati personali, ma pu&ograve; permettere la connessione al computer dell&rsquo;utente o ad altri dispositivi e rintracciare i dati salvati: questi cookie si connettono al browser installato sul computer o su altri dispositivi dell&rsquo;utente durante la navigazione sul sito.
                    </li>
                </ol>

                <p><strong>Quali cookie utilizza il sito </strong><a href="http://www.autosalonepugliese.it"><strong><span style="text-decoration:none"><span style="text-underline:none">autosalonepugliese.it</span></span></strong></a><strong>?</strong></p>

                <p class="lead">Dei cookie appena descritti, utilizza esclusivamente quelli di tipo <strong>analitico.</strong></p>

                <p><strong>Come disabilitare i cookie?</strong></p>

                <p>La maggior parte dei browser (Internet Explorer, Firefox etc) sono configurati per accettare io cookie. Tuttavia, la maggior parte dei browser permette di controllare e anche di disabilitare i cookie attraverso le impostazioni del browser. Ti ricordiamo per&ograve; che disabilitare i cookie di navigazione o quelli funzionali pu&ograve; causare il malfunzionamento del sito e/o limitare il servizio offerto. Per maggiori informazioni su gestione o disabilitazione dei cookie di terze parti si consiglia il seguente sito <a href="http://www.youronlinechoices.com">www.youronlinechoices.com</a>. Per disabilitare i cookie analitici ed impedire a Google Analytics di raccogliere dati sulla navigazione, puoi scaricare il componente aggiuntivo del browser per la disattivazione di Googlie Analytics. (tools.google.com/dlpage/gaoptout).</p>

            </div>
        </div>
    </section>
</div>
<!-- End Content -->

