@{
    ViewBag.Title = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Header Start -->
<div class="page-header" style="background: url('@Url.Content("~/public/media/site/howto.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@fc.Resources.Resources.pageHowTo</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Main container Start -->
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 wow fadeInDownQuick" data-wow-delay="0.3s">                
                <div class="ad-detail-content text-justify">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <h3>@i. Step</h3>
                        <div class="mb15"></div>
                        <blockquote>
                            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                        </blockquote>
                        <p class="lead">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                    }
                </div>
            </div>
            @Html.Partial("_Promotion")
        </div>
    </div>
</div>
<!-- Main container End -->
