@{
    ViewBag.Title = "Used machinery";
}
@{Html.RenderAction("Search"); }    
<div class="wrapper">   
    @{Html.RenderAction("Category"); }    
    @{Html.RenderAction("LastProducts"); }
    @*@{Html.RenderAction("Services"); }*@ 
    @{Html.RenderAction("Locations"); }     
</div>
@{Html.RenderAction("Counter"); } 