@{
    ViewBag.Title = "";
}
@{Html.RenderAction("Search"); }  
<div class="wrapper">   
    @{Html.RenderAction("Category"); }    
    @{Html.RenderAction("Locations"); }
    @{Html.RenderAction("LastProducts"); }
</div>
@{Html.RenderAction("Counter"); } 